// pc端全局样式

// 配置背景图片函数
label-image($url)
  background-image url($url)
$main-color = #FFC93873
label
  font-weight bold
  border-right 1px solid #bababa
  color #4295c5
  margin 10px 0 10px 20px
  padding-right 10px
  display inline-block
  height 20px
  line-height 20px
  white-space nowrap
input
  text-indent 10px
select
  padding-left 10px
  option
    background-color #E6F0F3