// pc端全局样式
$main-color = #FFC93873
label
  font-weight bold
  border-right 1px solid #bababa
  color #4295c5
  margin 10px 0 10px 20px
  padding-right 10px
  display inline-block
  height 20px
  line-height 20px
  white-space nowrap
  @media (max-width: 980px)
    margin 0
    border-right 0
input
  text-indent 10px
  // @media (max-width: 980px)
  //   text-indent 0
select
  padding-left 10px
  option
    background-color #E6F0F3